<!DOCTYPE html>
<html>
    <head>
        <title>My Good Food app</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/">Good Stuff</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
         <% if(!currentUser){ %>
          
          <li class="nav-item">
            <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
          <% } else{ %>
          <li class="nav-item"> 
            <li>Signed In As <%= currentUser.username %></li>
            <a class="nav-link disabled" href="/logout">Log Out</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
        
