<% include ../partials/header %>
<div class="container">
    
    <div class ="row">
        <div class="col-md-12 text-center">
        <h1>Add new Comment to <%= recipe.name %></h1>
        
       </div>
       
        <div class="col-md-12 justify-content-center align-items-center">
            
            <form action="/recipes/<%= recipe._id %>/comments" method="POST">
                <div class="form-group">
                    <!--//the recipes comes from the app.post "/recipes the attribute name is to get the data inside of our route-->
                    <input class="form-control-lg" type="text"  name="comment[text]" placeholder="text">
                </div>
                <div class="form-group">
                    <button class= "btn btn-lg btn-success">Submit Comment</button>
                </div>
                 
            </form>
        
            <a href="/recipes">See all recipes</a>
        </div>
    </div>
    
<% include ../partials/footer %>