<% include ../partials/header %>


      
<div class="container">
<header class="jumbotron">
    <div class="container">
        <h1>Recipedia</h1>
        <p>Your recipes are here!!</p>
        <p>
            <a class="btn btn-success btn-lg" href="/recipes/new">Add new Recipe</a>
            
        </p>
    </div>
</header>

    <div class="row text-center">
        <% recipes.forEach(function(recipe){ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="<%= recipe.image %>" alt="<%= recipe.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= recipe.name %></h5>
                            <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>