<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Food App</p>
            <div class="list-group">
                <li class="list-group-item active">info 1</li>
                <li class="list-group-item">info 2</li>
                <li class="list-group-item">info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= recipe.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">9€</h4>
                    <h4><a><%=recipe.name%></a></h4>
                    <p><%= recipe.description %></p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/recipes/<%= recipe._id %>/comments/new">Add New comment</a>
                </div>
                <hr>
                <% recipe.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p> 
                        </div>
                    </div>
                     
                <% }) %>
            </div>
        </div>
    </div>
</div>
      








<% include ../partials/footer %>